<div {{did-insert this.insertedInDom}} class="notule-editor">
  <Rdfa::RdfaEditor
    class="rdfa-editor"
    @value={{@model.content}}
    @profile={{this.profile}}
    @plugins={{this.plugins}}
    @rdfaEditorInit={{this.handleRdfaEditorInit}}
    @editorOptions={{hash
      showToggleRdfaAnnotations="true"
      showInsertButton=null
      showPaper="true"
      showRdfa="true"
      showRdfaHighlight="true"
      showRdfaHover="true"
      showSidebar="true"
      showToolbarBottom=null
    }}
    @toolbarOptions={{hash
      showTextStyleButtons="true"
      showListButtons="true"
      showIndentButtons="true"
    }}
  />
</div>
{{yield}}
