<div id='ember-appuniversum-wormhole'></div>
{{#if this.showEnvironmentBanner}}
  <EnvironmentBanner
    @environmentName={{this.environment}}
    @applicationName='Embeddable Notule Editor'
  />
{{/if}}
<div {{did-insert this.insertedInDom}} class='notule-editor'>
  <div id='ember-basic-dropdown-wormhole'></div>
  {{#if this.initCompleted}}
    <EditorContainer
      @editorOptions={{hash
        showRdfa=false
        editRdfa=false
        showRdfaHighlight=true
        showRdfaHover=true
        showPaper=true
        showToolbarBottom=null
      }}
      @showRdfaBlocks={{this.controller.showRdfaBlocks}}
      @hideSidebar={{(not this.uiConfig.sidebar)}}
    >
      <:top>
        {{#if this.controller}}
          <SimpleToolbar
            @controller={{this.controller}}
            @activePlugins={{this.activePlugins}}
            @config={{this.config}}
          />
        {{/if}}
      </:top>
      <:default>
        <Editor
          @plugins={{this.plugins}}
          @schema={{this.schema}}
          @nodeViews={{this.nodeViews}}
          @rdfaEditorInit={{this.handleRdfaEditorInit}}
        />
        {{#if this.controller}}
          <Plugins::Table::TableTooltip @controller={{this.controller}} />
        {{/if}}
      </:default>
      <:aside>
        {{#if this.controller}}
          <Sidebar as |Sidebar|>
            {{#if this.uiConfig.insertMenu}}
              <Sidebar.Collapsible
                @title={{t "editor.insert"}}
                @expandedInitially={{this.uiConfig.expandInsertMenu}}>
                {{#if (array-includes this.activePlugins 'besluit')}}
                  <div class="au-u-medium">{{t 'editor.besluit.title'}}</div>
                  <ArticleStructurePlugin::ArticleStructureCard
                    @controller={{this.controller}}
                    @options={{this.config.besluit.structures}}
                  />
                {{/if}}
                {{#if (array-includes this.activePlugins 'article-structure')}}
                  <div class="au-u-medium">{{t 'editor.article-structure.title'}}</div>
                  <ArticleStructurePlugin::ArticleStructureCard
                    @controller={{this.controller}}
                    @options={{this.config.articleStructure.structures}}
                  />
                {{/if}}
                <div class="au-u-medium">{{t 'editor.others.title'}}</div>
                {{#if (array-includes this.activePlugins 'citation')}}
                  <CitationPlugin::CitationInsert
                    @controller={{this.controller}}
                    @config={{this.config.citation}}
                  />
                {{/if}}
                {{#if (array-includes this.activePlugins 'roadsign-regulation')}}
                  <RoadsignRegulationPlugin::RoadsignRegulationCard
                    @controller={{this.controller}}
                    @options={{this.config.roadsignRegulation}}
                  />
                {{/if}}
                {{#if (array-includes this.activePlugins 'template-comments')}}
                  <TemplateCommentsPlugin::Insert
                    @controller={{this.controller}}
                  />
                {{/if}}
              </Sidebar.Collapsible>
            {{/if}}
            {{#if (array-includes this.activePlugins 'article-structure')}}
              <ArticleStructurePlugin::StructureCard
                @controller={{this.controller}}
                @options={{this.config.articleStructure.structures}}
              />
            {{/if}}
            {{#if (array-includes this.activePlugins 'besluit')}}
              <ArticleStructurePlugin::StructureCard
                @controller={{this.controller}}
                @options={{this.config.besluit.structures}}
              />
            {{/if}}
            {{#if (array-includes this.activePlugins 'variable')}}
              {{#if this.config.variable.insert.enable}}
                <VariablePlugin::InsertVariableCard
                  @controller={{this.controller}}
                  @variableTypes={{this.config.variable.insert.variableTypes}}
                />
              {{/if}}
              {{#if this.config.variable.edit.enable}}
                <VariablePlugin::Codelist::Edit
                  @controller={{this.controller}}
                  @options={{this.config.variable.edit.codelist}}
                />
                <VariablePlugin::Date::Edit
                  @controller={{this.controller}}
                  @options={{this.config.variable.edit.date}}
                />
                <VariablePlugin::Location::Edit
                  @controller={{this.controller}}
                  @options={{this.config.variable.edit.location}}
                />
                <VariablePlugin::Address::Edit
                  @controller={{this.controller}}
                  @defaultMunicipality={{this.config.variable.edit.address.defaultMunicipality}}
                />
              {{/if}}
            {{/if}}
            {{#if (array-includes this.activePlugins 'template-comments')}}
              <TemplateCommentsPlugin::EditCard
                @controller={{this.controller}}
              />
            {{/if}}
            {{#if (array-includes this.activePlugins 'citation')}}
              <CitationPlugin::CitationCard
                @controller={{this.controller}}
                @plugin={{this.citationPlugin}}
                @config={{this.config.citation}}
              />
            {{/if}}
          </Sidebar>
        {{/if}}
      </:aside>
    </EditorContainer>
  {{/if}}
</div>
{{yield}}