<div id="ember-appuniversum-wormhole"></div>
{{#if this.showEnvironmentBanner}}
  <EnvironmentBanner
    @environmentName={{this.environment}}
    @applicationName="Embeddable Notule Editor"
  />
{{/if}}
<div {{did-insert this.insertedInDom}} class="notule-editor">
  <div id="ember-basic-dropdown-wormhole"></div>
  {{#if this.initCompleted}}
    <EditorContainer
      @editorOptions={{hash
        showRdfa=(not (should-show "rdfa-editor" active=this.activePlugins))
        editRdfa=(should-show "rdfa-editor" active=this.activePlugins)
        showRdfaHighlight=true
        showRdfaHover=true
        showPaper=true
        showToolbarBottom=null
      }}
      @showRdfaBlocks={{this.controller.showRdfaBlocks}}
      @hideSidebar={{(not (should-show section="sidebar" active=this.activePlugins))}}
    >
      <:top>
        {{#if this.controller}}
          <SimpleToolbar
            @controller={{this.controller}}
            @activePlugins={{this.activePlugins}}
            @config={{this.config}}
          />
        {{/if}}
      </:top>
      <:default>
        <Editor
          @plugins={{this.plugins}}
          @schema={{this.schema}}
          @nodeViews={{this.nodeViews}}
          @rdfaEditorInit={{this.handleRdfaEditorInit}}
        />
        {{#if this.controller}}
          <Plugins::Table::TableTooltip @controller={{this.controller}} />
        {{/if}}
      </:default>
      <:aside>
        {{#if this.controller}}
          <Sidebar as |Sidebar|>
            {{#if (should-show section="insert" active=this.activePlugins)}}
              <Sidebar.Collapsible
                @title={{t "editor.insert"}}
                @expandedInitially={{this.expandInsertMenu}}>
                {{#if (should-show 'besluit' active=this.activePlugins)}}
                  <div class="au-u-medium">{{t 'editor.besluit.title'}}</div>
                  <this.InsertArticle
                    @controller={{this.controller}}
                    @options={{this.config.besluit}}
                  />
                  {{#if (should-show "lpdc" active=this.activePlugins)}}
                    <LpdcPlugin::LpdcInsert
                      @controller={{this.controller}}
                      @config={{this.config.lpdc}}
                    />
                  {{/if}}
                {{/if}}
                {{#if (should-show "article-structure" active=this.activePlugins)}}
                  <div class="au-u-medium">{{t
                      "editor.article-structure.title"
                    }}</div>
                  <ArticleStructurePlugin::ArticleStructureCard
                    @controller={{this.controller}}
                    @options={{this.config.articleStructure.structures}}
                  />
                {{/if}}
                <div class="au-u-medium">{{t "editor.others.title"}}</div>
                {{#if (should-show "citation" active=this.activePlugins)}}
                  <CitationPlugin::CitationInsert
                    @controller={{this.controller}}
                    @config={{this.config.citation}}
                  />
                {{/if}}
                {{#if
                  (should-show "roadsign-regulation" active=this.activePlugins)
                }}
                  <RoadsignRegulationPlugin::RoadsignRegulationCard
                    @controller={{this.controller}}
                    @options={{this.config.roadsignRegulation}}
                  />
                {{/if}}
                {{#if (should-show "location" active=this.activePlugins)}}
                  <LocationPlugin::Insert
                    @controller={{this.controller}}
                    @config={{this.config.location}}
                    @defaultMunicipality={{this.config.location.defaultMunicipality}}
                  />
                {{/if}}
                {{#if (should-show "template-comments" active=this.activePlugins)}}
                  <TemplateCommentsPlugin::Insert
                    @controller={{this.controller}}
                  />
                {{/if}}
              </Sidebar.Collapsible>
            {{/if}}
            {{#if (should-show "article-structure" active=this.activePlugins)}}
              <ArticleStructurePlugin::StructureCard
                @controller={{this.controller}}
                @options={{this.config.articleStructure.structures}}
              />
            {{/if}}
            {{#if (should-show "besluit" active=this.activePlugins)}}
              <this.StructureControlCard @controller={{this.controller}} />
            {{/if}}
            {{#if (should-show "variable" active=this.activePlugins)}}
              {{#if this.config.variable.insert.enable}}
                <VariablePlugin::InsertVariableCard
                  @controller={{this.controller}}
                  @variableTypes={{this.config.variable.insert.variableTypes}}
                />
              {{/if}}
              {{#if this.config.variable.edit.enable}}
                <VariablePlugin::Codelist::Edit
                  @controller={{this.controller}}
                  @options={{this.config.variable.edit.codelist}}
                />
                <VariablePlugin::Date::Edit
                  @controller={{this.controller}}
                  @options={{this.config.variable.edit.date}}
                />
                <VariablePlugin::Location::Edit
                  @controller={{this.controller}}
                  @options={{this.config.variable.edit.location}}
                />
                <VariablePlugin::Address::Edit
                  @controller={{this.controller}}
                  @defaultMunicipality={{this.config.variable.edit.address.defaultMunicipality}}
                />
              {{/if}}
            {{/if}}
            {{#if (should-show "template-comments" active=this.activePlugins)}}
              <TemplateCommentsPlugin::EditCard
                @controller={{this.controller}}
              />
            {{/if}}
            {{#if (should-show "citation" active=this.activePlugins)}}
              <CitationPlugin::CitationCard
                @controller={{this.controller}}
                @plugin={{this.citationPlugin}}
                @config={{this.config.citation}}
              />
            {{/if}}
            {{#if (should-show "rdfa-editor" active=this.activePlugins)}}
              <div class="au-u-margin-bottom" />
              <this.RdfaEditor
                @node={{this.activeNode}}
                @controller={{this.controller}}
              />
              {{#if this.activeNode}}
                <this.AttributeEditor
                  @node={{this.activeNode}}
                  @controller={{this.controller}}
                />
                <this.DebugInfo @node={{this.activeNode}} />
              {{/if}}
            {{/if}}
          </Sidebar>
        {{/if}}
      </:aside>
    </EditorContainer>
  {{/if}}
</div>
{{yield}}