{{! @glint-nocheck not typesafe yet }}
<div id="ember-appuniversum-wormhole"></div>
{{#if this.showEnvironmentBanner}}
  <EnvironmentBanner
    @environmentName={{this.environment}}
    @applicationName="Embeddable Notule Editor"
  />
{{/if}}
<div {{did-insert this.insertedInDom}} class="notule-editor">
  <div id="ember-basic-dropdown-wormhole"></div>
  {{#if this.initCompleted}}
    <EditorContainer
      @editorOptions={{hash showPaper=true showToolbarBottom=null}}
    >
      <:top>
        {{#if this.controller}}
          <Toolbar
            @activeNode={{this.activeNode}}
            @toolbar={{this.defaultToolbarConfig}}
            @controller={{this.controller}}
            @plugins={{this.activePlugins}}
            @config={{this.config}}
          />
        {{/if}}
      </:top>
      <:default>
        <Editor
          @plugins={{this.plugins}}
          @schema={{this.schema}}
          @nodeViews={{this.nodeViews}}
          @rdfaEditorInit={{this.handleRdfaEditorInit}}
        />
        {{#if this.controller}}
          <Plugins::Table::TableTooltip @controller={{this.controller}} />
        {{/if}}
      </:default>
      <:aside>
        {{#if this.controller}}
          <Sidebar
            @activeNode={{this.activeNode}}
            @sidebar={{this.defaultSidebarConfig}}
            @controller={{this.controller}}
            @plugins={{this.activePlugins}}
            @config={{this.config}}
          />
        {{/if}}
      </:aside>
    </EditorContainer>
  {{/if}}
</div>
{{yield}}